# Python & Virtual Environments
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# macOS / OS generated
.DS_Store
.AppleDouble
.LSOverride

# VS Code / IDE settings
.vscode/
.idea/
